body{
  background: url("images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#info{
  margin: 60px 160px;
  background: white;
  -webkit-box-shadow: 10px 7px 20px 0px rgba(163,163,163,1);
  -moz-box-shadow: 10px 7px 20px 0px rgba(163,163,163,1);
  box-shadow: 10px 7px 20px 0px rgba(163,163,163,1);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}
img{
  width: 200px;
}

p{
  text-align : justify;
}


li{
  text-decoration: none;
  list-style: none;
}


